/* 
CSS reset. Different browsers use different default margins, 
causing sites to look different by margins. The * means "all elements"
(a universal selector), so we are setting all elements to have 
zero margins, and zero padding.
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #FFF;
}

#header {
    background-color: #080808;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center ;
}
.header-text {
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span {
    color: #185ADB;
}

.column1, .column2 {
    width: 100%;
    margin-top: 70px;
}
.column1 {
    flex-basis: 60%;
}
.column2 {
    flex-basis: 35%;
}

#programmer {
    width: 350px;
    height: 350px;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
}

.logo {
    width: 60px;
}

/* ---- Text animation ---- */


/*.dynamic-txt {
    list-style: none;
    margin-left: 20px;
}
.dynamic-txt li span {
    position: relative;
}
.dynamic-txt li span::after {
    content: "";
    position: absolute;
    left: 0;
    background: #080808;
    height: 101%;
    width: 100%;
    border-left: 2px solid #185ADB;
    animation: slide 2s steps(5) infinite;
    top: 0;
}
@keyframes slide {
    100%{
        top: -360px
    }
}
*/

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav a img {
    margin-right: 20px;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #185ADB;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}

/* ---- About ----- */

#about {
    padding: 80px 0;
    color: #ABABAB;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}
.about-col-2 {
    flex-basis: 60%;
}
.about-col-2 p {
    font-size: 18px;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #FFF;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;

}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #185ADB;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span {
    color: #39A9CB;
    font-size: 18px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}

.same-line {
    display: inline-block;
}



/* ----- Skills ---- */

#skills {
    padding: 30px 0;
}
.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.skills-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.skills-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.skills-list div h2 {
    font-size: 30pxs;
    font-weight: 500;
    margin-bottom: 15px;
}
.skills-list div a {
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.skills-list div:hover {
    background: #185ADB;
    transform: translateY(-10px);
}
.skills-card ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 5px;
}
.skills-card ul li p {
    text-align: center;
}
.skills-icons {
    width: 50px;
}

/* ----- My Work ---- */

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.work:hover img {
    transform: scale(1.1);
}
.work:hover .layer {
    height: 100%;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #185ADB);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a {
    margin-top: 20px;
    color: #185ADB;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background-color: #FFF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.btn {
    display: block;
    margin: 15px auto;
    width: fit-content;
    border: 1px solid #185ADB;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #FFF;
    transition: background 0.5s;
}
.btn:hover {
    background: #185ADB;
}

/* ---- Contact ----- */

.contact-left {
    flex-basis: 35%;
}
.contact-left p {
    margin-top: 30px;
}
.contact-left p i {
    color: #185ADB;
    margin-right: 15px;
    font-size: 25px;
}

.contact-right {
    flex-basis: 60%;
}
.contact-right form {
    width: 100%;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #FFF;
    font-size: 18px;
    border-radius: 6px;  
}
form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.social-icons {
    margin-top: 30px;
}
.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ABABAB;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover {
    color: #185ADB;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #185ADB;
    margin-top: 30px;
}

#msg {
    color: green;
    margin-top: -10px;
    display: block;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    /*background: #262626;*/
    font-weight: 300;
    margin-top: 20px;
}
.copyright a {
    text-decoration: none;
}
.copyright a i {
    color: #FFF;
    font-size: 35px;
    padding-top: 10px;
}

.contact-left p {
    font-size: 19px;
}

/* ---- RESPONSIVENESS ---- */

/* ---- FOR LAPTOPS ---- */
/* to active the text animation on laptop screens */
@media only screen and (min-width: 768px) {
    .wrapper{
        display: flex;
    }
    .wrapper .static-txt {
        color: #fff;
        font-size: 60px;
    }
    .wrapper .dynamic-txt {
        margin-left: 15px;
        height: 90px;
        line-height: px;
        overflow: hidden;
    }
    .dynamic-txt li {
        list-style: none;
        color: #FFF;
        font-size: 60px;
        position: relative;
        top: 0;
        animation: slide 12s steps(4) infinite;
    }
    @keyframes slide {
        100%{
        top: -360px;
        }
    }
    .dynamic-txt li span{
        position: relative;
        margin: 5px 0;
        line-height: 50%;
    }
    .dynamic-txt li span::after{
        content: "";
        position: absolute;
        left: 0;
        height: 101%;
        width: 100%;
        background: #080808;
        border-left: 2px solid #185ADB;
        animation: typing 3s steps(10) infinite;
    }
    @keyframes typing {
        40%, 60%{
        left: calc(100% + 30px);
        }
        100%{
        left: 0;
        }
    }
}


/* .fa-solid is the class of the "menu" and "close" icon */
nav .fa-solid {
    display: none;
}

/* ----- Responsiveness for MOBILES ----- */
@media only screen and (max-width: 600px) {
    #programmer {
        display: none;
    }

    .wrapper h1, ul {
        display: inline-block;
    }
    #abdelilah {

    }

    .dynamic-txt {
        list-style-type: none;
    }
    .extra-list {
        display: none;
    }
    
    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1 {
        font-size: 30px;
    }
    nav .fa-solid {
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: #185ADB;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title {
        font-size: 40px;
    }
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-1 {
        margin-bottom: 30px;
    }
    .about-col-2 {
        font-size: 14px;
    }
    .tab-titles {
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right {
        flex-basis: 100%;
    }
    .copyright {
        font-size: 14px;
    }
    .logo {
        width: 40px;
    }
}

